@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #c2d7c2;
  margin: 0;
}

h1 {
  color: #754141;
  margin: 0;
  padding-top: 1.5em;
  text-align: center;
}

nav {
  text-align: center;
  overflow: hidden;
  background-color: #c2d7c2;
  padding: 1em;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.25em;
}

nav a {
  text-decoration: none;
  color: #fff;
  background-color: #754141;
  padding: 1em;
  display: block;
  border-radius: 1em;
}

nav a:hover {
  background-color: #f3a395;
}

.background {
  position: relative;
}

.cupid-right {
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-transform-origin: 675px 155px;
  transform-origin: 675px 155px;
}

.cupid-left {
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-transform-origin: 113px 155px;
  transform-origin: 113px 155px;
}

.js-wrapper-animate {
  -webkit-animation: sway 5s infinite;
  animation: sway 5s infinite;
}

@-webkit-keyframes sway {

  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes sway {

  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

.right-heart-info {
  fill: #fff;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.left-heart-info {
  fill: #fff;
  -webkit-transition: all .5s linear;
}

.is-clicked {
  fill: #f3a395;
}

.mint-heart-left {
  -webkit-transform-origin: 73px 58px;
  transform-origin: 73px 58px;
}

.mint-heart-right {
  -webkit-transform-origin: 658px 58px;
  transform-origin: 658px 58px;
}

.is-clicked2 {
  -webkit-animation: spin 1s ease;
  animation: spin 1s ease;
}

@-webkit-keyframes spin {

  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {

  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.couple {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.couple:hover {
  -webkit-animation: expand 3s ease forwards;
  animation: expand 3s ease forwards;
}

.family {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.family:hover {
  -webkit-animation: expand 3s ease forwards;
  animation: expand 3s ease forwards;
}

.pet {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.pet:hover {
  -webkit-animation: expand 3s ease forwards;
  animation: expand 3s ease forwards;
}

@-webkit-keyframes expand {

  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes expand {

  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.chocolate-bar {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.football-team {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.film {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.buffet-voucher {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.perfume {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.underwear {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.cd {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.toy {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.jewellery {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.flower {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.scale {
  -webkit-animation: scale 600ms linear;
  animation: scale 600ms linear;
}

@-webkit-keyframes scale {

  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale {

  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.small-heart {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

@-webkit-keyframes pulse {

  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {

  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media only screen and (min-width: 28em) {

  nav li {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 65em) {

  nav li {
    display: inline-block;
    width: 33.33%;
    float:left;
  }
}
